<h1 style="color:white">ROFL</h1>


<ul style="color:white">
  <% @users.each do |x| %>
    <li>
      <p>
        <li><h5>User ID</h5>
        <%= x.id %>
      </li>


      <li><h5>Email</h5>
        <%= x.email %>
      </li>
        <%= link_to("Delete", x, method: :delete) %>
      </p>
    </li>


    <% end %>

</ul>

