

<div id="info">
  <h1 id="text">
    Welcome to The Well
  </h1><!-- text div -->
  <h2 id="symbol"> ~ 
  </h2>
  <h3 id="text">
    Where waiting to order is old news!
  </h3><!-- text div -->
</div><!-- info div -->

<div id='container'>
  <div id="box">
    
    <div id="line1"<p>sign In</p></div>
    <div id="line2" <p>click and order</p></div>
    <div id="line3" <p>no line</p></div>
    <div id="line4" <p>have a drink</p></div>

  

</div>


   