/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*this brings the whole body down because the navbar takes up some space at the top*/

#background {
  background-image: url(bar-background.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
/*entire body*/
body {
  color: white;
}

.opaque-bar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/*all the h2's*/
h2 {
  color: white;
}

/*all the h1's*/
h1 {
  color: white;
  display: inline;
}

.email, .password, .remember_me {
  color: white;
}

.container-fluid {
  /*margin-top: 5px;*/
}

.btn-group {
  float: right;
}

.btn {
  border-radius: 8px;
}

